body {
	margin: 0;
	min-width: 960px;
	font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
	font-size: 16px;
	line-height: 32px;
	color: #222222;
	background-color: #f2f4f6;
	background-image: url('img/hero-bg.jpg');
	background-repeat: no-repeat;
	background-position: top center;
}

body .dark {
	color: #f2f2f2;
	background-color: #080208;
	background-image: url('img/basic-dark-theme/img/hero-bg.jpg');
}

.wrapper {
	margin-bottom: 35px;
}

.container {
	max-width: 928px;
	margin: 0 auto;
	padding: 0 16px;
}

.page-header {
	margin: 0 0 160px;
	padding: 32px 0 32px;
}

.page-header .container,
.page-footer .container {
	max-width: 1408px;
	text-align: right;
}

.page-header a {
	margin-left: 56px;
	color: #288be6;
	text-decoration: none;
	background-repeat: no-repeat;
	background-position: left;
}

.page-header .dark a {
	color: #fea18d;
}

.page-header__mail {
	padding-left: 30px;
	background-image: url('img/icon-email-header.svg');
}

.page-footer__mail .dark {
	background-image: url('img/basic-dark-theme/img/icon-email.svg');
}

.page-header__tel {
	padding-left: 25px;
	background-image: url('img/icon-phone-header.svg');
}

.page-header__tel .dark {
	background-image: url('img/basic-dark-theme/img/icon-phone.svg');
}

.hero-image {
	margin-bottom: 620px;
}

.hero-image .container {
	max-width: 1408px;
	text-align: center;
}

.heading {
	margin: 0 0 16px;
	font-family: 'Old Standard TT', 'Times', 'Times New Roman', serif;
	font-size: 88px;
	line-height: 96px;
	font-weight: 400;
}

.hero-image p {
	margin: 0;
	font-size: 32px;
	line-height: 48px;
}

.intro {
	margin: 0 0 120px;
}

.subheading {
	margin: 0 0 56px;
	font-family: 'Old Standard TT', 'Times', 'Times New Roman', serif;
	font-size: 64px;
	line-height: 80px;
	font-weight: 400;
	text-align: center;
}

.user-image {
	margin: 0 0 32px;
	text-align: center;
}

.intro h3,
.portfolio h3 {
	margin: 0 0 12px;
	font-size: 26px;
	line-height: 18px;
	font-weight: 500;
}

.intro p {
	margin: 0 0 32px;
}

.skills-list {
	margin: 0;
	padding: 0;
}

.skills-list dt {
	padding-left: 32px;
	background-repeat: no-repeat;
	background-position: left;
}

.skill-html {
	background-image: url('img/icon-html.svg');
}

.skill-js {
	background-image: url('img/icon-js.png');
}

.skill-css {
	background-image: url('img/icon-css.svg');
}

.skill-sass {
	background-image: url('img/sass.png');
}

.skill-react {
	background-image: url('img/React-icon.svg');
}

.level {
	margin: 4px 0 16px;
	padding: 0;
	height: 14px;
	font-size: 0;
	background-color: #ffffff;
	border: 1px solid #86c3fa;
	border-radius: 8px;
}

.level .dark {
	background-color: #080208;
	border: 1px solid #712073;
}

.level div {
	margin: 1px;
	height: 12px;
	background-color: #288be6;
	border-radius: 6px;
}

.level .dark div {
	background-color: #fea18d;
}

.portfolio {
	margin: 0 0 120px;
}

.projects {
	margin: 0;
	padding: 0;
	list-style: none;
}

.projects li {
	margin: 0 0 80px;
}

.project-image {
	margin: 0 0 24px;
	text-align: center;
}

.project-image img {
	width: 920px;
	height: auto;
}

.projects p {
	margin: 0 0 24px;
}

.button {
	padding: 6px 20px;
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 4px;
	background-color: #288be6;
	color: #ffffff;
}

.button .dark {
	background-color: #712073;
}

.page-footer {
	padding: 40px 0;
	background-color: #00417d;
	color: #ffffff;
}

.page-footer .dark {
	background-color: #260c26;
}

.page-footer a {
	margin-left: 56px;
	color: inherit;
	text-decoration: none;
	background-repeat: no-repeat;
	background-position: left;
}

.page-footer .dark a {
	color: #fea18d;
}

.page-footer__mail {
	padding-left: 30px;
	background-image: url('img/icon-email-footer.svg');
}

.page-footer__mail .dark {
	background-image: url('img/basic-dark-theme/img/icon-email.svg');
}

.page-footer__tel {
	padding-left: 25px;
	background-image: url('img/icon-phone-footer.svg');
}

.page-footer__tel .dark {
	background-image: url('img/basic-dark-theme/img/icon-phone.svg');
}

.project-image .joke {
	width: 450px;
	height: 450px;
}

.project-image .w928 {
	width: 928px;
}

img {
	border-radius: 15px;
}

.project-image .h100 {
	width: 300px;
	height: 100%;
}
